/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.box-title{
    width: 100%;
}

.mat-icon-button-nav {
    width: auto !important;
    height: auto !important;
    line-height: inherit !important;
}

.box-body {
    height: 450px;
}